body{
    background:url(./sources/qljo0.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size:100%;
    background-size: 100%;
}
.girl{
    position:absolute;
    bottom:0;
    right:0;
}
.song{
    position:absolute;
    bottom:0;
    left:0;
}
.text1{
    color:blueviolet; 
    background-color: black;
}
header{
    background-color: aliceblue;
}